[Unit]
Description=Omada runtime configuration directory
After=run-omada\x2dcontroller.mount
Requires=run-omada\x2dcontroller.mount

[Mount]
What=/etc/omada-controller
Where=/run/omada-controller/properties
Options=bind
