[Unit]
Description=Omada runtime directory

[Mount]
What=tmpfs
Where=/run/omada-controller
Options=uid=omada,gid=omada

[Install]
WantedBy=omada-controller-runenv.target
