[Unit]
Description=Omada runtime map directory
After=run-omada\x2dcontroller.mount
Requires=run-omada\x2dcontroller.mount

[Mount]
What=/var/lib/omada-controller/map
Where=/run/omada-controller/map
Options=bind
