[Unit]
Description=Omada runtime library directory
After=run-omada\x2dcontroller.mount
Requires=run-omada\x2dcontroller.mount

[Mount]
What=/usr/lib/omada-controller/lib
Where=/run/omada-controller/lib

[Install]
WantedBy=omada-controller-runenv.target
