[Unit]
Description=Omada runtime web application directory
After=run-omada\\x2dcontroller.mount
Requires=run-omada\\x2dcontroller.mount

[Mount]
What=/usr/share/webapps/omada-controller
Where=/run/omada-controller/webapps
